{% extends "layout.html" %}

{% block title %}About FoXSDock{% endblock %}

{% block body %}
<h1>About FoXSDock </h1>

<p>
FoXSDock is a method for docking with SAXS profile of the complex.
The input is two proteins and a SAXS profile of their complex. The output is a list of potential complexes sorted by a score that combines interface energy and the fit to SAXS profile. 
</p>

<h2>Method Overview </h2>

The docking protocol involves five steps (Fig. 1):

<ol>
<li> Global search. Rigid docking is performed by a geometric shape-matching algorithm PatchDock [1-2], generating thousands of models. In this step, the flexibility is taken into account implicitly by allowing a small amount of steric clashes at the interface.</li>

<li> Coarse SAXS filtering. Radius of gyration predicted from the SAXS profile of the complex is used to filter out rigid docking models that do not agree with the SAXS measurements[3].</li>

<li> SAXS scoring. Each docking model is fitted against the SAXS profile of the complex using FoXS method [4].</li>

<li> Clustering. Remaining docking models are clustered by their interface C&alpha; RMSD and the cluster representative with the best fit to the SAXS profile is selected.</li>

<li> Conformational refinement. Cluster representatives are refined and steric clashes are removed through optimization of side chain positions and relative protein orientations, with FireDock [5]. The final models are scored and ranked by an energy-based score and the fit to the SAXS profile.</li>

</ol>

<img src="{{ url_for("static", filename="img/foxsdock_flow.jpg") }}" alt="Method Overview" width="30%" />

<p />

<h3>References</h3>

<ol>
<li>Duhovny D, Nussinov R, Wolfson HJ. Efficient Unbound Docking of Rigid Molecules. 
In Gusfield et al., Ed. Proceedings of the 2'nd Workshop on Algorithms in Bioinformatics(WABI) Rome, Italy,
Lecture Notes in Computer Science 2452, pp. 185-200, Springer Verlag, 2002 [<a href="http://bioinfo3d.cs.tau.ac.il/PatchDock/wabi02.pdf"> PDF file </a>]</li>

<li>Schneidman-Duhovny D, Inbar Y, Nussinov R, Wolfson HJ. PatchDock and SymmDock: servers for rigid and symmetric docking. NAR 33: W363-367, 2005.
[<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1160241/"> Full text </a>]</li>

<li>D. Schneidman-Duhovny, M. Hammel, and A. Sali.Macromolecular docking restrained by a small angle X-ray scattering profile. J Struct Biol. 2011. 173(3):461-71</li>

<li>D. Schneidman-Duhovny, M. Hammel, and A. Sali. FoXS: A Web server for Rapid Computation and Fitting of SAXS Profiles. NAR 2010.38 Suppl:W540-4.</li>

<li>N. Andrusier, R. Nussinov and H. J. Wolfson. FireDock: Fast Interaction Refinement in Molecular Docking.Proteins (2007), 69(1):139-159.</li>
</ol>

{% endblock %}
