{% extends "layout.html" %}

{% block title %}FoXSDock{% endblock %}

{% block body %}

<form method="post" action="{{ url_for("job") }}"
 enctype="multipart/form-data" name="foxsdockform">

<table cellpadding="5" cellspacing="0">
<tr><td>Type PDB codes of receptor and ligand molecules or upload files in PDB format  <a href="{{ url_for("help", _anchor="sampleinput") }}">sample input files</a></td></tr>
</table>

<table border="0" cellpadding="5" cellspacing="0" width="99%">
<tr><td align="left"><a href="{{ url_for("help") }}"><b>Receptor</b></a></td> <td align="left"><input type="text" name="receptor"  size="10" maxlength="10" /> (PDB:chainId e.g. 2kai:AB)</td> <td align="left"><b>or</b> upload file: <input type="file" name="recfile"  size="10" /></td></tr>
<tr><td align="left"><a href="{{ url_for("help") }}"><b>Ligand</b></a></td> <td align="left"><input type="text" name="ligand"  size="10" maxlength="10" /> (PDB:chainId e.g. 2kai:I)</td> <td align="left"><b>or</b> upload file: <input type="file" name="ligfile"  size="10" /></td></tr>
<tr><td align="left"><a href="{{ url_for("help") }}"><b>Complex SAXS profile</b></a></td> <td align="left"><input type="file" name="saxsfile"  size="10" /></td></tr>
<tr><td align="left"><a href="{{ url_for("help") }}"><b>e-mail address</b></a></td> <td align="left"><input type="text" name="email" value="{{ g.user.email }}" /></td> <td align="left">(the results are sent to this address, optional)</td></tr>
<tr><td align="left"><a href="{{ url_for("help") }}"><b>Complex type</b></a></td> <td align="left"><select name="moltype"> <option>Enzyme-inhibitor</option> <option>Antibody-antigen</option> <option selected="selected">Default</option></select></td> <td align="left">Please specify receptor and ligand in the corresponding order!</td></tr>
<tr><td align="left" colspan="2"><input type="submit" name=".submit" value="Submit" /><input type="reset"  name=".reset" value="Clear" /></td></tr>
<tr><td align="left" colspan="3"><b>Advanced Parameters</b></td></tr>
<tr><td align="left"><a href="{{ url_for("help") }}"><b>Weighted SAXS score</b></a></td> <td align="left"><input type="checkbox" name="weighted"></input></td> <td align="left">Weighted SAXS scoring that accounts for monomers contribution</td></tr>
<tr><td align="left"><a href="{{ url_for("help", _anchor="dist") }}"><b>Distance constraints</b></a></td> <td align="left"><input type="file" name="distfile"  size="10" /></td></tr>
<tr><td align="left" colspan="2"><input type="submit" name=".submit" value="Submit" /><input type="reset"  name=".reset" value="Clear" /></td></tr>
</table>
</form>
{% endblock %}
